---
import CommonImage from "@/components/CommonImage.astro";
import Layout from "@/layouts/Layout.astro";
import Slider from "@/components/home/Slider";
import main from "@/assets/images/main/main.png";
import aboutMe from "@/assets/images/main/aboutMe.png";
import Skills from "@/components/home/Skills.astro";

const allBlogs = await Astro.glob("./blog/**/*.mdx");
const blogs = allBlogs.map((blog) => {
  {
    const thumbnail: string = blog.frontmatter.thumbnail;
    const url: string = blog.url || "";
    return {
      thumbnail,
      url,
    };
  }
});
---

<Layout
  title="Satofactoin.net | Fumihiko Sato Portfolio"
  description="このサイトは、特にやりたいこともなく無気力に生きる汚い中年おじさんデザイナー佐藤文彦のポートフォリオサイトです。応援よろしくお願いします。"
  useMaxWidth={false}
>
  <article class="box-hero">
    <div class="box-hero-title">
      <h2 class="title-main">Hello, I’M<br />Fumihiko Sato</h2>
      <div class="role">Designer / Front-End Developer</div>
    </div>
    <div class="box-hero-img">
      <div class="box-hero-img-inner">
        <CommonImage src={main} alt="my image" width={800} format="webp" />
      </div>
    </div>
  </article>
  <article class="box-2col reverse">
    <div>
      <h2 class="title-main">About Me.</h2>
      <p class="mb-M">
        主にデザインとフロントエンド開発をやっています。<br />
         どちらかと言えばデザイナーが、少しプログラムを書くような感じです。<br
        />
         ただし、デザインも独学なのでツールをなんとか使いこなすレベルなのでデザイナーでもないかもしれません。
      </p>
      <p>
        田舎から「デザイナー」という言葉に憧れて東京に出てきましたが、そんな想いは簡単に打ち砕かれ、若者に
        日々怒られながら過ごす中年の汚いおじさんです。
      </p>
    </div>
    <div>
      <CommonImage src={aboutMe} alt="my image" width={800} format="webp" />
    </div>
  </article>
  <article>
    <h2 class="title-main">My Skills.</h2>
    <Skills />
  </article>
  <article class="full-width">
    <h2 class="title-main text-center">My Portfolio.</h2>
    <p class="text-center mb-XL">
      業務ではなく個人的な趣味で制作したものです。
    </p>
    <Slider client:only="react" posts={blogs} />
  </article>
  <article class="full-width">
    <h2 class="title-main text-center">My Blog.</h2>
    <p class="text-center mb-XL">
      年齢のせいかすぐ忘れてしまうので、学んだことを備忘録的に書いてます。
    </p>
    <Slider client:only="react" posts={blogs} />
  </article>
</Layout>

<style lang="scss" scoped>
  article {
    max-width: var(--breakpoint-L);
    margin: 0 auto var(--spacing-XXL);

    &.full-width {
      max-width: none;
    }
  }
  .box-hero {
    position: relative;
    display: flex;
    .box-hero-title {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(0, -50%);

      .title-main {
        font-size: var(--font-size-hero-title);
        margin-bottom: var(--spacing-S);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
      }
      .role {
        font-family: $font-family-oswald;
        color: var(--color-primary);
        font-size: var(--font-size-XXL);
        font-weight: 500;
        letter-spacing: 0.05em;
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
      }
    }

    .box-hero-img {
      margin-left: auto;
      margin-right: calc(var(--spacing-XL) * -1);
    }
    @media screen and (max-width: $breakpoint-S) {
      display: flex;
      flex-direction: column-reverse;

      .box-hero-title {
        position: static;
        transform: none;
      }

      .box-hero-img {
        margin: var(--spacing-XXL) auto 0;
        .box-hero-img-inner {
          width: 130%;
          margin-left: -30%;
        }
      }

      .role {
        font-size: var(--font-size-L) !important;
      }
    }
  }

  .box-2col {
    display: flex;
    align-items: center;
    &.reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: $breakpoint-S) {
        flex-direction: column;
      }
    }
    h3 {
      margin-bottom: var(--spacing-L);
    }
    p {
      font-size: var(--font-size-M);
      line-height: 2;
    }
    div {
      flex: 1;
    }
  }
</style>
