---
import dayjs from "dayjs";
import type { FrontmatterType } from "../../types/Post";
import CommonImage from "../CommonImage.astro";
interface Props {
  post: FrontmatterType;
  url: string;
}
const { post, url } = Astro.props;
const imgPath = import(post.thumbnail.replace("@/", "../../"));
---

<div class="card">
  <a href={url} class="card-link">
    <div class="thumbnail">
      <CommonImage src={imgPath} width={200} format="webp" alt="aaa" />
    </div>
    <div>
      <p class="createAt">{dayjs(post.createAt).format("YYYY/MM/DD")}</p>
      <h2 class="title-L">{post.title}</h2>
      <p class="description">{post.description}</p>
      <div>
        {post.tags.map((tag: string) => <span class="tag">{tag}</span>)}
      </div>
    </div>
  </a>
</div>

<style lang="scss">
  .card {
    padding: var(--spacing-M);
    margin-bottom: var(--spacing-XL);
    border-radius: var(--radius-M);
    box-shadow: var(--shadow-01);
    background-color: var(--color-background);

    .thumbnail {
      line-height: 1;
      margin-right: var(--spacing-L);
    }

    .card-link {
      display: flex;
    }

    .createAt {
      color: var(--color-gray-04);
      font-size: var(--font-size-S);
      margin-bottom: var(--spacing-S);
    }

    .description {
      margin-bottom: var(--$spacing-S);
    }

    .tag {
      font-size: var(--font-size-S);
      color: var(--color-gray-04);
      display: inline-block;
      padding: var(--spacing-S) var(--spacing-M);
      border-radius: 20px;
      border: 1px solid var(--color-gray-04);
      margin-right: var(--spacing-S);
      line-height: 1;
      &:last-child {
        margin-right: 0;
      }
    }
    &:hover {
      background-color: var(--color-background-darken);
    }
  }
</style>
