---
import TwoColLayout from "./TwoColLayout.astro";
import dayjs from "dayjs";
import "dayjs/locale/ja";
import Posts from "../components/blog/Posts.astro";
const { frontmatter, content, headings } = Astro.props;
const topHeading = headings.filter((heading: any) => heading.depth <= 2);
---

<TwoColLayout title={frontmatter.title} description={frontmatter.description}>
  <!-- head  -->
  <div slot="header">
    <div class="title">
      <h1 class="title-XXXL">{frontmatter.title}</h1>
      <div class="createAt">
        {dayjs(frontmatter.createAt).format("YYYY/MM/DD")}
      </div>
      <div class="tags">
        {frontmatter.tags.map((tag: string) => <span class="tag">{tag}</span>)}
      </div>
    </div>
  </div>
  <!-- content -->
  <div slot="content" class="content">
    <slot />
  </div>
  <!-- nav -->
  <div slot="nav">
    <div class="headings">
      <h2 class="title-M">目次</h2>
      <nav>
        <ul>
          {
            topHeading.map((heading: any) => (
              <li class={`depth-${heading.depth}`}>
                <a href={`#${heading.text}`}>{heading.text}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
  <div slot="footer">
    <Posts />
  </div>
  <style lang="scss">
    .title {
      text-align: center;
      h1 {
        margin-bottom: 0;
      }
      .createAt {
        color: $color-gray-04;
        margin-bottom: $spacing-M;
      }
      .tags {
        .tag {
          font-size: $font-size-S;
          color: $color-gray-04;
          display: inline-block;
          padding: $spacing-S $spacing-M;
          border-radius: 20px;
          border: 1px solid $color-gray-04;
          margin-right: $spacing-S;
          line-height: 1;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .content {
      box-shadow: $shadow-03;
      padding: $spacing-L;
      border-radius: $radius-M;
      box-sizing: border-box;
    }

    .headings {
      font-size: $font-size-S;
      position: sticky;
      top: $spacing-XXXL;
      box-shadow: $shadow-03;
      padding: $spacing-M;
      border-radius: $radius-M;
      margin-bottom: $spacing-XL;
      li {
        margin-bottom: $spacing-S;
        &.depth-1 {
          &::before {
            content: "";
            display: inline-block;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            border: 2px solid $color-primary-light;
            box-sizing: border-box;
            margin-right: 4px;
            background-color: $color-primary;
          }
        }
        &.depth-2 {
          margin-left: 1em;
          &::before {
            content: "";
            display: inline-block;
            border-radius: 10px;
            width: 6px;
            height: 6px;
            box-sizing: border-box;
            margin-right: 6px;
            background-color: $color-primary-light;
          }
        }
      }
    }

    .content :global(pre) {
      padding: 20px;
      display: block;
      max-width: 700px;
      overflow-x: scroll !important;
      box-sizing: border-box;
      border-radius: $radius-M;
      margin-bottom: $spacing-XL;
    }

    .content :global(p) {
      margin-bottom: $spacing-M;
    }

    .content :global(h1) {
      @extend .title-XL;
      margin-bottom: $spacing-L;
      padding: $spacing-M 0;
      border-bottom: 1px solid $color-gray-01;
      &:not(:first-child) {
        margin-top: $spacing-XXL;
      }
    }

    .content :global(h2) {
      @extend .title-L;
      margin: $spacing-XL 0 $spacing-M 0;
    }

    .content :global(h3) {
      @extend .title-M;
      margin: $spacing-L 0 $spacing-S 0;
    }

    .content :global(img) {
      border: 1px solid $color-gray-01;
    }
  </style>
</TwoColLayout>
