---
import TwoColLayout from "./TwoColLayout.astro";
import dayjs from "dayjs";
import "dayjs/locale/ja";
import Posts from "../components/blog/Posts.astro";
const { frontmatter, content, headings } = Astro.props;
const topHeading = headings.filter((heading: any) => heading.depth <= 2);
---

<div class="detail-page">
  <TwoColLayout title={frontmatter.title} description={frontmatter.description}>
    <!-- head  -->
    <div slot="header">
      <div class="title">
        <h1 class="title-XXXL">{frontmatter.title}</h1>
        <div class="createAt">
          {dayjs(frontmatter.createAt).format("YYYY/MM/DD")}
        </div>
        <div class="tags">
          {
            frontmatter.tags.map((tag: string) => (
              <span class="tag">{tag}</span>
            ))
          }
        </div>
      </div>
    </div>
    <!-- content -->
    <div slot="content" class="content">
      <slot />
    </div>
    <!-- nav -->
    <div slot="nav" class="headings-wrapper">
      <div class="headings">
        <h2 class="title-M">目次</h2>
        <nav>
          <ul>
            {
              topHeading.map((heading: any) => (
                <li class={`depth-${heading.depth}`}>
                  <a href={`#${heading.slug}`}>{heading.text}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
    <div slot="footer">
      <Posts />
    </div>
  </TwoColLayout>
</div>

<style lang="scss">
  .headings-wrapper {
    height: 100%;
  }
  .headings {
    font-size: var(--font-size-S);
    position: sticky;
    top: 0;
    top: var(--spacing-XXXL);
    box-shadow: var(--shadow-03);
    padding: var(--spacing-M);
    border-radius: var(--radius-M);
    margin-bottom: var(--spacing-XL);
    background-color: var(--color-background);
    li {
      margin-bottom: var(--spacing-S);
      &.depth-1 {
        &::before {
          content: "";
          display: inline-block;
          border-radius: 10px;
          width: 10px;
          height: 10px;
          border: 2px solid var(--color-primary-light);
          box-sizing: border-box;
          margin-right: 4px;
          background-color: var(--color-primary);
        }
      }
      &.depth-2 {
        margin-left: 1em;
        &::before {
          content: "";
          display: inline-block;
          border-radius: 10px;
          width: 6px;
          height: 6px;
          box-sizing: border-box;
          margin-right: 6px;
          background-color: var(--color-primary-light);
        }
      }
    }
  }
</style>
