---
import Layout from "./Layout.astro";
import dayjs from "dayjs";
import "dayjs/locale/ja";
import Posts from "../components/portfolio/Posts.astro";
const { frontmatter } = Astro.props;

const allPosts = await Astro.glob("../pages/portfolio/**/*.mdx");

const nonDraftPosts = allPosts.filter((post) => {
  return !post.frontmatter.draft && post.url !== frontmatter.url;
});
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <section class="mt-XXXL">
    <div class="detail-page">
      <!-- head  -->
      <div class="header">
        <div class="title">
          <h1 class="title-XXXL">{frontmatter.title}</h1>
          <div class="createAt">
            {dayjs(frontmatter.createAt).format("YYYY/MM/DD")}
          </div>
          <div class="tags">
            {
              frontmatter.tags.map((tag: string) => (
                <span class="tag">{tag}</span>
              ))
            }
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="content">
        <slot />
      </div>
      <!-- footer -->
      <div>
        <Posts posts={nonDraftPosts} />
      </div>
    </div>
  </section>

  <style lang="scss"></style>
</Layout>
